*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.result,
.h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 1200px;
  gap: 30px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.content__details {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 133px;
  gap: 26px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 534px;
  overflow-y: scroll;
  position: relative;
}

.result {
  padding-bottom: 200px;
  padding-left: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 32px;
}

.content__video-card {
  display: flex;
  justify-content: center;
}

.content__video-card-thumbnail {
  width: 196px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 194px;
  height: 103px;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.title {
  width: 259px;
  height: 210px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 0.94;
  margin: 0;
}

.content__accent {
  color: #545050;
  font-weight: 700;
  text-transform: uppercase;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 17px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 1rem;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
}

.input {
  appearance: none;
  display: flex;
  width: 225px;
  height: 27px;
  background-color: black;
  color: #fff;
  font-size: 18px;
  gap: 10px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 16px;
}

.search-form__textfield::placeholder {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: " ";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover span {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid rgb(132, 138, 132);
  outline-offset: 1px;
  cursor: pointer;
}

.button {
  height: 34px;
  display: inline-block;
  text-align: center;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffffa8;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}
